body {
  margin:0;
}

#console_output {
  display:inline-block;
  bottom:0;
  word-wrap: break-word;
  background:#d3d3d3;
  width:100%;
  overflow:auto;
  height:200px;
  max-height:200px;
}

#console_input {
  width:100%;
}

#console_main {
  width:100%;
  position:fixed;
  bottom:0;
  display:none;
  border:black 1px solid;
}